<div class="form-signin">
    <div class="form-header-gen">
        <h2 class="form-signin-heading text-center">Reconnect with your pension and get an <br/ >
        annual fee of just 0.25%.</h2>
        <div class="under_header text-center">
        Would you like to know more? <br />
        Complete this short form and we'll get in touch
        </div>
    </div>
    <%= render 'form' %>

    <div class="row">
        
    </div>

    <hr style="height:1px;border:none;color:#A9A9A9;background-color:#A9A9A9; margin-top: 40px; margin-bottom:40px;" />

    <div class="reconnect">
        <div class="under_header text-center" style="margin-bottom:40px;">
Or why not start transferring your pension now? Switching is
a doddle and it only takes a few minutes.</div>
        <button class="submit-btn" style="padding: 6px 12px !important;"><a href="https://briteinvest.com"> TRY US OUT </a></button>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>