<div class="form-signin">
    <div class="form-header-gen">
        <h2 class="form-signin-heading text-center">Reconnect with your pension and get an <br/ >
        annual fee of just 0.25%.</h2>
        <div class="under_header text-center">
        Would you like to know more? <br />
        Complete this short form and we'll get in touch
        </div>
    </div>
    <%= render 'form' %>

    <div class="row">
        
    </div>

    <hr style="height:1px;border:none;color:#A9A9A9;background-color:#A9A9A9; margin-top: 40px; margin-bottom:40px;" />

    <div class="reconnect">
        <div class="under_header text-center" style="margin-bottom:40px;">
Or why not start transferring your pension now? Switching is
a doddle and it only takes a few minutes.</div>
        <button class="submit-btn" style="padding: 6px 12px !important;"><a href="https://briteinvest.com"> TRY US OUT </a></button>
    </div>
</div>

<script>
$(document).ready(function (){
    validate();
    $('#person_first_name, #person_last_name, #person_area_code, #person_phone_no, #person_email').change(validate);
});

function validate(){
    if ($('#person_first_name').val().length   >   0   &&
        $('#person_last_name').val().length  >   0   &&
        $('#person_area_code').val().length    >   0 && 
        $('#person_phone_no').val().length > 0 && 
        $('#person_email').val().length > 0 ) {
        $("#submit_button").prop("disabled", false);
    }
    else {
        $("#submit_button").prop("disabled", true);
    }
}


</script>