<div class="form-signin">
    <div class="form-header-gen">
        <h2 class="form-signin-heading text-center">Reconnect with your <br /> UK Pension</h2>
        <div class="under_header text-center">
        Complete this short form and we'll get in touch
        </div>
    </div>
    <%= render 'form' %>

    <div class="row">
        
    </div>

    <hr style="height:1px;border:none;color:#A9A9A9;background-color:#A9A9A9;" />

    <div class="reconnect">
        <div class="under_header text-center">
            Ready to reconnect with your UK pension? 
        </div>
        <button class="submit-btn" style="padding: 6px 12px !important;"> create account </button>
    </div>
</div>

