<div class="box text-center">
  <div class="">
    <%= image_tag("tickicon.png", :class => "tickicon") %>
  </div>
  <div clas="">
    <p clas="text-center thank-you-msg" style="margin-top: 40px;font-weight: 600;color: #2fb56c;">Thank you for getting in touch. <br />
    We'll contact you soon.</p>
  </div>
</div>
