<div class="box text-center col-md-12 col-sm-12 col-xs-12">
  <div class="">
    <%= image_tag("tickicon.png", :class => "tickicon") %>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <p class="text-center thank-you-msg col-md-8 col-sm-12 col-xs-12" style="margin-top: 40px;font-weight: 600;color: #2fb56c;">Thank you. We'll contact you soon.</p>
  </div>
</div>